annotated-types==0.7.0 ; python_version >= "3.12"
anyio==4.8.0 ; python_version >= "3.12"
attrs==25.1.0 ; python_version >= "3.12"
click==8.1.8 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
dnspython==2.7.0 ; python_version >= "3.12"
email-validator==2.2.0 ; python_version >= "3.12"
fastapi==0.115.8 ; python_version >= "3.12"
h11==0.14.0 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
jsonschema-specifications==2024.10.1 ; python_version >= "3.12"
jsonschema==4.23.0 ; python_version >= "3.12"
psycopg2-binary==2.9.10 ; python_version >= "3.12"
psycopg2==2.9.10 ; python_version >= "3.12"
pydantic-core==2.27.2 ; python_version >= "3.12"
pydantic==2.10.6 ; python_version >= "3.12"
python-multipart==0.0.20 ; python_version >= "3.12"
pyyaml==6.0.2 ; python_version >= "3.12"
referencing==0.36.2 ; python_version >= "3.12"
rpds-py==0.22.3 ; python_version >= "3.12"
sniffio==1.3.1 ; python_version >= "3.12"
starlette==0.45.3 ; python_version >= "3.12"
typing-extensions==4.12.2 ; python_version >= "3.12"
uvicorn==0.34.0 ; python_version >= "3.12"
